/* src/styles.css */
* {
  box-sizing: border-box; /* Evita problemas con padding/border */
}

body {
  font-family: sans-serif; /* Fuente básica */
  padding: 15px;
  color: #333;
}

/* Añade un poco de espacio debajo de los títulos h2 por defecto */
h2 {
  margin-bottom: 1em;
}

/* Espacio básico debajo de los párrafos */
p {
  margin-bottom: 1em;
}
